*,
*::after,
*::before {
  list-style: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans TC';
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
}
li {
  list-style: none;
}

#nav {
  width: 100%;
}
nav {
  z-index: 1080;
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #eee;
  div {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 15px;
    height: 56px;
  }
  .fa-bars {
    visibility: hidden;
  }
  .barLogo {
    display: flex;
    align-items: center;
  }
  ul {
    display: inline-block;
    justify-self: start;
    margin: 0px;
    padding: 0px;

    img {
      height: calc(2rem + 1.125vw);
    }
    a {
      color: #fff;
    }
  }

  li {
    display: inline-block;
    font-weight: 700;
    padding: 15px 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .btn li:hover {
    background: rgba(255, 255, 255, 0.7);
  }
}
// 輪播
#swiper {
  .swiper-slide {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: start;
    // flex-shrink: 0;
    flex-direction: column;

    color: #fff;

    // /* Center slide text vertically */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
    z-index: 0;
  }
  .swiper-word {
    margin-left: calc(0rem + 20vw);
  }

  .swiper-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 2;
  }

  .swiper-subtitle {
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    z-index: 2;
  }

  .swiper-text {
    font-size: 9px;
    max-width: 800px;
    line-height: 1.3;
    white-space: normal;
    padding: 10px 0px 50px 0px;
    z-index: 2;
  }
  .swiper-btn {
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    padding: 1rem;
    background: transparent;
    z-index: 2;
  }
  //圓點
  .swiper-pagination {
    visibility: hidden;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }
}

// 3格圖片內容區
#section {
  padding: 65px 0 80px;

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    counter-reset: services-title;
  }

  .services {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.3333%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    height: 450px !important;
  }
  .services-photo {
    margin-top: 21px;
    margin-bottom: 15px;
  }
  .services-title {
    text-transform: uppercase;
    font-size: calc(1rem + 0.7vw);
    font-weight: 500;
    a {
      color: #000;
    }
  }
  .services-text {
    text-overflow: ellipsis;
    font-size: calc(0.8rem + 0.1vw);
    white-space: normal;
    word-break: break-word;
  }
  .services-title::before {
    content: counter(services-title, decimal-leading-zero) '/';
    counter-increment: services-title;
    opacity: 0.2;
    padding-right: 7px;
    font-size: calc(1rem + 1.1vw);
  }
  .services-btn {
    display: inline-block;
    margin-top: calc(1.2rem + 0.1vw);
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(221, 221, 221);
    padding: 1rem;
    background: transparent;
    z-index: 2;
  }
}

//
@media (max-width: 992px) {
  #nav {
    z-index: 1080;
    nav {
      background: #959595;
    }

    .barLogo {
      display: flex;
      align-items: center;
      padding-top: 5px;
      .fa-bars {
        visibility: visible;
        color: white;
        font-size: 35px;
        padding: 0 20px 0 20px;
      }
    }
  }

  .btn {
    display: none;
  }
  // 輪播
  #swiper {
    .swiper-slide {
      height: 100vh;
      position: relative;
      display: flex;
      text-align: center;
    }
    .swiper-word {
      margin-left: 0px;
    }
    .swiper-title {
      font-size: calc(2rem + 2vw);
    }

    .swiper-subtitle {
      font-size: calc(1rem + 1vw);
    }
    .swiper-text {
      padding-left: 10px;
      padding-right: 10px;

      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
    .swiper-btn {
      margin-left: auto;
      margin-right: auto;
    }
    //圓點
    .swiper-pagination {
      visibility: visible;
      --swiper-theme-color: #fff;
    }

    .swiper-button-next,
    .swiper-button-prev {
      visibility: hidden;
    }
  }
  // 3格圖片內容區
  #section {
    padding: 65px 0 80px;
    .container {
      margin-left: auto;
      margin-right: auto;
    }

    .row {
      max-width: 720px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  #swiper {
    .swiper-text {
      display: none;
    }
  }

  // 3格圖片內容區
  #section {
    .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .services {
      margin-left: auto;
      margin-right: auto;
    }
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
}
