.flex{
  display: flex;
}
li{
  list-style: none;
}
@media (min-width:992px) {
  #nav{
  background: #000;

}
.nav{
  width: 90vw;
height: 56px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;

      img{
      height: 40px;

      }
      a{
      text-decoration: none;
      color: #fff;
      }
    
    .btn{

      padding: 15px 10px;
      font-size: 15px;
    }
  

  }
}
}