.flex{
  display: flex;
}
li{
  list-style: none;
}

  #nav{
  background: #000;

}
nav{
  width: 90vw;
height: 56px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
.barLogo{
  display: flex;
  align-items: center;
  .fa-bars{
color: white;
font-size: 35px;
padding: 0 20px 0 0 ;
  }
}
ul{
    display: inline-block;
    justify-self: start;
    margin: 0px;
    padding: 0px;
    
    
      img{
      height: 40px;

      }
      a{
      text-decoration: none;
      color: #fff;
      }
    
    .btn{
      padding: 15px 10px;
      font-size: 15px;
    }
  

  }
}
@media (min-width:768px) {
}


@media (max-width:768px) {
}